<!DOCTYPE html> 
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/top.css">
 <body>
 

  
  
<div class="first-block">
  <section id="first-block">
    <div class="title-container">
      <h1>山田 太郎</h1>
      <h3>~ Geeksalon Webコース1期生 ~</h3>
    </div>

 </section>
  
  
  <div class="second-block">
   <p class="title">
      更年期とは……
    </p>
    <div class="about-container">
      <p class="text">
        <b>閉経を挟んだ前後約10年間のことを「更年期」と呼びます。</b>
          <br>この期間に現れるホットフラシュや気分の落ち込み、めまい、動悸といった症状でほかに原因となる病気の見つからないものを更年期症状といい、
        　<br>それらの症状によって日常生活に支障が出る場合に更年期障害と診断されます。
        </span>
       </p>
      
      

  </div>
  <div class="third-block">
    <section id="third-block">
    <p class="info-title">
       Features of this site
    </p>
    <div class="about-container">
      <p class="info-text">
        <b>投稿機能</b>
        <br>
        <span class="font-small">
        自分で投稿できる！
        <br>
        非公開にもできるので、
         <br>
         記録用に投稿することもできます。
        </span>
      </p>

      <p class="info-text">
        <b>検索機能</b>
        <br>
        <span class="font-small">
        いろんな人の投稿を閲覧することができます！
        <br>
        タグ検索があるので、
        <br>
        簡単に検索することができます。
        </span>
      </p>

      <p class="info-text">
        <b>診断機能</b>
        <br>
        <span class="font-small">
       更年期のセルフチェックを行えます。
        <br>
        簡単に診断可能で、
         <br>
         点数に応じてアドバイスもついています！
        <br>
        <%= link_to "診断はこちら", perfumes_path %>
       </span>
      </p>
 

       
      

  </div>
