// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
    color:#7a2d2f
    
  }